body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parallax-bg {
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-heading {
  background: -webkit-linear-gradient(var(--grey-600), var(--grey-800));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

/*------NAVIGATION BAR------*/
.navbar {
  background-color: transparent; /* Remove the background color to make it transparent */
  /* margin-left: 3.7%;
  margin-right: 3.7%; */
}

.navbar .nav-item {
  padding: 10px;
}

.navbar .nav-item .nav-link:hover {
  background-color: #000000;
  color: white;
  /* border-radius: 10%; */
}

.logo img {
  height: 4rem;
  float: left;
  width: 11rem;
}

/* Container for the navigation bar with a black background */
.navbar-container {
  background-color: #000000;
  color: white;
  padding: 10px 0;
}

.non-nav {
  position: relative;
  color: black;
  width: 100%;
  height: 100vh;
}
